ion-tab-bar{
    --background: var(--ion-color-medium);
}

ion-tab-button{
    --color-selected: #fff;
}

.player {
  height: 3px;
  background: var(--ion-color-medium);
  img {
    height: 55px;
  }
  font-family: 'Spotify' , serif;
  color: #fff;
  font-size: small;

  .progress-bar {
    height: 3px;
    width: 100%;
    background: #707070;

    .progress {
      background: #57b660;
      height: 100%;
    }
  }
}

.fab-icon {
  font-size: 25px;
}

.row-position-icon {
  padding-left: 10px;
}

.button-flash {
  background-color: #c91c5e;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 15px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  left: 10px;
}
@keyframes glowing {
  0% {
    background-color: #57b660;
    box-shadow: 0 0 5px #57b660;
  }
  50% {
    background-color: #20cb2a;
    box-shadow: 0 0 5px #18831e;
  }
  100% {
    background-color: #57b660;
    box-shadow: 0 0 5px #57b660;
  }
}
.button-flash {
  animation: glowing 1000ms infinite;
}

.fab-button {
  position: relative;
  width:95%;
  margin:auto;
  margin-top:1vh;
  background: transparent;
}

.title {
  color: #fff;
  font-family: 'Spotify', serif;
  font-size: 100%;
}

.save-text {
  color: #fff;
  font-family: 'Spotify', serif;
}

ion-item {
  --background: var(--ion-color-dark);
  --color: white;
}

.item-content {
  background-color: #121212;
}

.ion-fab-button-hidden {
  visibility: hidden;
}

.avatar-image-box {
  max-width: 450px;
  border-radius: 10% !important;
  overflow: hidden;
}

.userOrders-label {
  font-size: 1.8em;
}
