<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Drink</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content class="swiper-slide">
    <swiper  id="introswiper"  [config]="config">
      <ng-template swiperSlide >
        <ion-content>
        <div *ngFor="let softDrink of softDrinkCollections">
          <h2 class="select-header" >{{softDrink.title}}</h2>
          <ion-list *ngFor="let album of softDrink.albums" >
            <ion-item button="" (click)="openAlbum(album)">
              <ion-col size="2" class="ion-no-padding" >
                <img alt="Softdrink Images" [src]="'/assets/images/albums/'+dasherize(album.image)+'.jpg'">
              </ion-col>
              <ion-col size="8">
                <ion-label  class="title">
                  {{ album.title }}
                </ion-label>
              </ion-col>
            </ion-item>
          </ion-list>
        </div>
        </ion-content>
      </ng-template>
      <ng-template swiperSlide>
        <ion-content>
        <div *ngFor="let softDrink of sakeCollections">
          <h2 class="select-header" >{{softDrink.title}}</h2>
          <ion-list *ngFor="let album of softDrink.albums" >
            <ion-item button="" (click)="openAlbum(album)">
              <ion-col size="2" class="ion-no-padding" >
                <img alt="Sake Images" [src]="'/assets/images/albums/'+dasherize(album.image)+'.jpg'">
              </ion-col>
              <ion-col size="8">
                <ion-label  class="title">
                  {{ album.title }}
                </ion-label>
              </ion-col>
            </ion-item>
          </ion-list>
        </div>
          </ion-content>
      </ng-template>
      <ng-template swiperSlide >
        <ion-content>
        <div *ngFor="let softDrink of beerCollections">
          <h2 class="select-header" >{{softDrink.title}}</h2>
          <ion-list *ngFor="let album of softDrink.albums"  >
            <ion-item button="" (click)="openAlbum(album)">
              <ion-col size="2" class="ion-no-padding" >
                <img alt="Beer Images" [src]="'/assets/images/albums/'+dasherize(album.image)+'.jpg'">
              </ion-col>
              <ion-col size="8">
                <ion-label  class="title">
                  {{ album.title }}
                </ion-label>
              </ion-col>
            </ion-item>
          </ion-list>
        </div>
          </ion-content>
      </ng-template>
      <div class="swiper-pagination"></div>
    </swiper>
</ion-content>
