/*swiper {
  height: 100%;
}*/

ion-title, ion-content{
  color: #fff;
  font-family: 'Spotify';
}
.select-header {
  color: #fff;
  font-family: 'Spotify';
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 30px;
}





.title {
  color: #fff;
  font-family: 'Spotify';
  font-size: small;
  font-size: 100%;
}

ng-template {
  display: block;
  text-align: left;
}
ion-list {
  --ion-background-color: var(--ion-color-dark);
}
ion-item {
  --ion-item-background: transparent;
  color: #fff;
  p{
    color: #949494;
  }
}




#introswiper {
  &.swiper {
    height: 100%;
  }

  .swiper-slide {
    overflow-y: scroll;
    display: block;
  }
  .swiper-pagination {
    bottom: 95%;
  }

/*
  .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.6;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--ion-color-secondary);
  }*/
}
