ion-title, ion-content{
  color: #fff;
  font-family: 'Spotify', serif;
}
.title {
  color: #fff;
  font-family: 'Spotify' , serif;
  font-size: 100%;
}

ion-list {
  --ion-background-color: var(--ion-color-dark);
}

/*ion-list {
  --ion-background-color: var(--ion-color-dark);

}*/
