ion-content{
  --pading-top: 40px;
}

.select-header {
  color: #fff;
  font-family: 'Spotify';
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 30px;
}

ion-slides {
    margion-buttom: 20px;
}

.title {
  color: #fff;
  font-family: 'Spotify';
  font-size: small;
}

ion-slide {
  display: block;
  text-align: left;
}
