ion-slides {
  height: 100%;
}
ion-title, ion-content, ion-button{
  color: #fff;
  font-family: 'Spotify', serif;
}
.select-header {
  color: #fff;
  font-family: 'Spotify', serif;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 30px;
}
ion-segment {
  --background: #50a858;
}

ion-slides {
  margion-buttom: 20px;
}

.title {
  color: #fff;
  font-family: 'Spotify', serif;
}

ion-slide {
  display: block;
  text-align: left;
}
ion-list {
  --ion-background-color: var(--ion-color-dark);
}
ion-item {
  --ion-item-background: transparent;
  color: #fff;
  p{
    color: #949494;
    font-family: 'Spotify', serif;
  }
}
